@use 'variables' as *;

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem 2rem;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    border-bottom: solid 1px $primary-color;
    opacity: 0.9;

    ul {
        display: flex;
    }

    a {
        color: #fff;
        padding: 0.45rem;
        margin: 0 0.25rem;

        &:hover {
            color: $primary-color;
        }
    }

    .welcome {
        span {
            margin-right: 0.6rem;
        }
    }

    .menuIcon {
        display: none;
    }
}

/* Mobile Styles */
@media (max-width: 700px) {
    .navbar {
        .menuIcon {
            display: inline-block;
            font-size: 1.5rem;
        }    

        .subnav {
            position: absolute;
            top: 3.8rem;
            transition: right 1s;

            display: block;    
            min-width: 200px;
            background-color: $dark-color;
            border: 1px solid #aaa;
            border-radius: 4px;
            line-height: 1.8rem;
            box-shadow: 8px 4px 8px $gray-color;

            a {
                display: block;
            }
        }

        .display {
            right: 0;
        }

        .notDisplay {
            right: calc(-100%);
        }

        .welcome {
            display: none;
        }
    }
}

@media (max-width: 350px) {
    .navbar {
        .hideXS {
            display: none;
        }
    }
}